<nav aria-label="breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb-list">
    <!-- 首頁 -->
    <li>
      <a [routerLink]="['/']" class="breadcrumb-link">
        <mat-icon class="breadcrumb-icon">home</mat-icon>
      </a>
    </li>

    <!-- 分隔符 -->
    <li class="breadcrumb-separator">
      <mat-icon class="breadcrumb-separator-icon">chevron_right</mat-icon>
    </li>

    <!-- 藝術作品 -->
    <li>
      <a [routerLink]="['/artwork']" class="breadcrumb-link">
        藝術作品
      </a>
    </li>

    <!-- 分隔符 -->
    <li class="breadcrumb-separator">
      <mat-icon class="breadcrumb-separator-icon">chevron_right</mat-icon>
    </li>

    <!-- 作品詳情 (當前頁面) -->
    <li>
      <span class="breadcrumb-current">
        山水畫
      </span>
    </li>
  </ol>
</nav>