<div class="min-h-screen flex flex-col">
    <!-- 主內容區域 -->
    <div class="flex flex-1">
        <!-- 左側邊欄 -->
        <aside class="sidebar-wrapper">
            <app-left-side-bar></app-left-side-bar>
        </aside>
        <!-- 主內容插槽 -->
        <main class="flex-grow main-content">
            <!-- Header -->
            <app-header></app-header>
            <div class="flex-grow content-wrapper">
                <router-outlet></router-outlet>
            </div>
            <!-- Footer -->
            <app-footer></app-footer>
        </main>
    </div>
    <app-chat></app-chat>
</div>