.sidebar-wrapper {
    height: calc(100vh - [header-height]px - [footer-height]px);
    transition: width 0.3s ease-in-out;
}

.main-content {
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
}