<div class="min-h-screen flex flex-col">
    <!-- 主內容區域 -->
    <div class="flex flex-1">
        <!-- 左側邊欄 -->
        <aside class="sidebar-wrapper">
            <app-left-side-bar></app-left-side-bar>
        </aside>
        <!-- 主內容插槽 -->
        <main class="flex-grow main-content">
            <!-- Header -->
            <header>
                <app-header></app-header>
            </header>
            <router-outlet></router-outlet>
            <!-- Footer -->
            <footer>
                <app-footer></app-footer>
            </footer>
        </main>
    </div>
</div>