<div class="min-h-screen flex flex-col">
    <!-- Header -->
    <header>
        <app-header></app-header>
    </header>
    <!-- 主內容區域 -->
    <div class="flex flex-1">
        <!-- 左側邊欄 -->
        <aside class="sidebar-wrapper">
            <app-left-side-bar></app-left-side-bar>
        </aside>
        <!-- 主內容插槽 -->
        <main class="flex-grow main-content">
            <app-search></app-search>
            <router-outlet></router-outlet>
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <app-footer></app-footer>
    </footer>
</div>