.search-container {
    display: flex;
    align-items: center;
}


/* 當視窗寬度縮小時的響應式調整 */

@media (max-width: 640px) {
    .search-input {
        width: 160px !important;
    }
}


/* 添加一些動畫效果 */

.search-input:focus {
    width: 280px;
}