<div class="character-display">
  <!-- 永字展示區 -->
  <div class="character-row">
    <div class="character-label">永</div>
    
    <owl-carousel-o [options]="carouselOptions">
      @for (font of yongFonts; track font.fontName) {
        <ng-template carouselSlide>
          <div class="font-item" [attr.data-category]="font.category">
            <div class="font-name">{{font.fontName}}</div>
            <div class="font-sample">
              <img [src]="font.imageUrl" [alt]="'永 in ' + font.fontName">
            </div>
          </div>
        </ng-template>
      }
    </owl-carousel-o>
  </div>
  
  <!-- 字字展示區 -->
  <div class="character-row">
    <div class="character-label">字</div>
    
    <owl-carousel-o [options]="carouselOptions">
      @for (font of ziFonts; track font.fontName) {
        <ng-template carouselSlide>
          <div class="font-item" [attr.data-category]="font.category">
            <div class="font-name">{{font.fontName}}</div>
            <div class="font-sample">
              <img [src]="font.imageUrl" [alt]="'字 in ' + font.fontName">
            </div>
          </div>
        </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>