<div class="character-display">
  <!-- 動態生成字符展示區 -->
  @for (charData of characterFonts; track charData.character) {
    <div class="character-row">
      <div class="character-label">{{charData.character}}</div>
      
      <owl-carousel-o [options]="carouselOptions">
        @for (font of charData.fonts; track font.fontName) {
          <ng-template carouselSlide>
            <div class="font-item" 
                 [class.selected]="isSelected(charData.character, font.fontName)"
                 [attr.data-category]="font.category" 
                 (click)="selectFont(charData.character, font.fontName)">
              <div class="font-name">{{font.fontName}}</div>
              <div class="font-sample">
                <img [src]="font.imageUrl" [alt]="charData.character + ' in ' + font.fontName">
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  }
</div>