<footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto flex flex-col items-center">
    <!-- 版權信息 -->
    <div class="mb-4 text-sm">
      © 2023 Chinese Artwork. All Rights Reserved.
    </div>
    <!-- 社交媒體連結 -->
    <div class="flex space-x-6">
      <a href="https://twitter.com" target="_blank" class="hover:text-blue-400 transition duration-300">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="https://facebook.com" target="_blank" class="hover:text-blue-600 transition duration-300">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="https://instagram.com" target="_blank" class="hover:text-pink-400 transition duration-300">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
  </div>
</footer>